body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,115,130,1) 0%, rgba(36,36,37,1) 0%, rgba(41,43,61,1) 93%);
  }
  
  h1 {
    text-align: center;
  }
  
  .galeria {
    display: flex; /* display é uma propriedade utilizada para organizar os elementos na página*/
    flex-wrap: wrap;
    justify-content: center;
  }
  
  figure {
    margin: 15px;
    
    
  }
  
  figcaption {
    text-align: center;
    color: azure;
  }
  
  img {
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
  }
  